# Day 4

## List

In [1]:
friend1 = 'arjun'
friend2 = 'avin'
friend3 = 'john'
friend4 = 'lizzy'
friend5 ='sona'

print(friend1,friend2,friend3,friend4,friend5)

arjun avin john lizzy sona

In [2]:
#declaration
friend = ['arjun','avin','john','lizzy','sona']

print(friend)

['arjun', 'avin', 'john', 'lizzy', 'sona']

In [3]:
# slicing
friend[0]

'arjun'

In [4]:
friend[2]

'john'

In [6]:
friend[-1]

'sona'

In [7]:
friend[-2]

'lizzy'

In [8]:
friend[0:2]

['arjun', 'avin']

In [9]:
friend[0:3]

['arjun', 'avin', 'john']

In [10]:
friend[0:4]

['arjun', 'avin', 'john', 'lizzy']

In [11]:
friend[0:5]

['arjun', 'avin', 'john', 'lizzy', 'sona']

In [12]:
friend[-1:]

['sona']

In [13]:
friend[:-1]

['arjun', 'avin', 'john', 'lizzy']

In [14]:
for item  in friend:
    print(item)

arjun
avin
john
lizzy
sona

In [15]:
# iterating through list
for item in friend:
    if item[0] == 'a':
        print(item)

arjun
avin

In [16]:
type(friend)

list

In [17]:
print(len(friend))

5

In [18]:
# changing list values
friend[1] = 'binisha'

In [19]:
friend

['arjun', 'binisha', 'john', 'lizzy', 'sona']

In [20]:
lst = ['arjun', 'binisha', 'john', 'lizzy', 'sona',1,2,3,4,5]

In [21]:
lst

['arjun', 'binisha', 'john', 'lizzy', 'sona', 1, 2, 3, 4, 5]

In [22]:
# list functions - put a dot after list name and press tab
friend.pop()

'sona'

In [23]:
friend

['arjun', 'binisha', 'john', 'lizzy']

In [26]:
friend.insert(5,'avin')

In [27]:
friend

['arjun', 'binisha', 'john', 'lizzy', 'avin']

In [34]:
frin = ['arjun', 'binisha', 'john', 'lizzy', 'avin','arjun']

In [35]:
frin

['arjun', 'binisha', 'john', 'lizzy', 'avin', 'arjun']

## Tuple

In [28]:
# declaration
tup = ('arjun','avin','john','lizzy','sona')

In [29]:
type(tup)

tuple

In [30]:
tup[0]

'arjun'

In [31]:
tup[-1]

'sona'

In [32]:
# we can't change tuple values - ( list  is mutable & tuple is immutable)
tup[1]='binisha'

TypeError: 'tuple' object does not support item assignment

In [ ]:
# tuple functions
tup.count

In [33]:
# iterating through tuple
for item in tup:
    if item[0] == 'a':
        print(item)

arjun
avin

## Set

In [40]:
set = {6,7,8,9,5}

In [37]:
type(set)

set

In [38]:
# repetation will be removed 
s = {1,2,1,3,4,4,5}

In [39]:
s

{1, 2, 3, 4, 5}

In [41]:
# set functions
s.difference(set)

{1, 2, 3, 4}

In [42]:
s.pop()

1

## Dictionaries

In [53]:
# declaration - "key":"value"
dic = {'arjun':12345,'avin':99876,'john':77665,'lizzy':55443,'sona':88664}

In [45]:
type(dic)

dict

In [46]:
dic

{'arjun': 12345, 'avin': 99876, 'john': 77665, 'lizzy': 55443, 'sona': 88664}

In [47]:
#iteration
for item in dic:
    if item[0]=='a':
        print(item,dic[item])

arjun 12345
avin 99876

In [48]:
#accessing
dic['arjun']

12345

In [49]:
dic['sona']

88664

## Arrays

In [50]:
# no built in data type for array instead we use list
array = ["a","b","c"]

In [51]:
array

['a', 'b', 'c']

In [52]:
type(array)

list