# DAY 7

## File Handling

modes- r , w , a, r+

open() 
syntax - open(filename, mode)

In [1]:
# creating a file
file = open('d1.txt','w')

In [2]:
file.write('Hello its me berlin')
file.write('How are you')
file.close()

In [3]:
# opening a file

file = open('d1.txt')

In [4]:
print(file.read())

Hello its me berlinHow are you

In [6]:
file = open('d1.txt')
for i in file:
    print(i)

Hello its me berlinHow are you

In [7]:
# adding values - wrong method

file = open('d1.txt','w')
file.write('Hello its avin')
file.write('im good')
file.close()

In [8]:
file = open('d1.txt')
for i in file:
    print(i)

Hello its avinim good

In [9]:
# correct method - append method

In [10]:
file = open('d1.txt','a')
file.write('Hello its me berlin')
file.write('How are you')
file.close()

In [11]:
file = open('d1.txt')
for i in file:
    print(i)

Hello its avinim goodHello its me berlinHow are you

## Functions

# definintion
def functionName():
    statements
# calling
functionName()

In [ ]:
sum = a+b

In [15]:
def fun():
    print("hello")

fun()

hello

In [18]:
def add_sub(a,b):
    add = a+b
    sub = a-b
    return add, sub

In [21]:
sum, diff = add_sub(6,7)

In [22]:
sum

13

In [23]:
diff

-1

In [24]:
def add_sub(a,b):
    add = a+b
    sub = a-b
    print(add,sub)

In [26]:
add_sub(6,3)

9 3

In [29]:
# not pass by value nor pass by reference
def update(x):
    print(id(x))
    x=8
    print(id(x))
    
    print(x)

a=10
print(id(a))
update(a)

print(a)

140713632671808
140713632671808
140713632671744
8
10

## Type of arguments

In [30]:
def add(a,b): # a,b is formal parameter
    c=a+b
    print(c)
    
add(5,6) # 5,6 - actual paramater

11

### Actual parameter

In [38]:
# 1. Postional parameter

def person(name, age):
    print(name)
    print(age)
    
person('musthafa',22)

musthafa
22

In [40]:
person(22,'musthafa')

22
musthafa

In [39]:
# 2, Keyword argument

person(age = 23, name ='berlin')

berlin
23

In [44]:
# 3. default argument

def person(name, age = 25):
    print(name)
    print(age)
    
person('musthafa')

musthafa
25

In [45]:
person('musthafa',30)

musthafa
30

In [47]:
def sum(a,b):
    c = a+b
    print(c)

In [48]:
sum(5,6)

11

In [49]:
sum(1,2,3,4,5)

TypeError: sum() takes 2 positional arguments but 5 were given

In [50]:
# 4. length argument

def sum(a,*b):
    c = a
    for i in b:
        c=c+i
    print(c)

In [51]:
sum(5,6)

11

In [52]:
sum(1,2,3,4,5)

15

In [53]:
def sum(*b):
    c = 0
    for i in b:
        c=c+i
    print(c)

In [54]:
sum(1,2,3,4,5)

15

In [55]:
sum(2)

2

In [56]:
def person(name , *data):
    print(name)
    for i in data:
        print(i)

In [58]:
person('berlin', 23, 9895, 'clt')

berlin
23
9895
clt

In [59]:
person('berlin', 23, 'clt', 8888)

berlin
23
clt
8888

## keyword length argument

In [66]:
def person(name , **data):
    print(name)
    print(data)
    for i,j in data.items():
        print(i,j)
        
        
person('berlin',age=22,mob = 8888,city='clt')

berlin
{'age': 22, 'mob': 8888, 'city': 'clt'}
age 22
mob 8888
city clt

In [64]:
def person(name , *data):
    print(name)
    print(data)
person('berlin', 23, 9895, 'clt')

berlin
(23, 9895, 'clt')

In [65]:
person('berlin', 23, 'clt', 8888)

berlin
(23, 'clt', 8888)