# DAY 2

syllabus - input, print, variables , repl it

# inupt()

In [1]:
input("Enter anything")

Enter anythingMusthafa

'Musthafa'

# Variables

variables are containers for storing data values

variable_name = value

In [11]:
x = 5
print(x)
type(x)

5

int

In [5]:
y = "Hello"

## Casting

if you want to specify the data type of a variable

In [6]:
x = int(5)
y = float(3)
z = str(3)

type() - used to getting data type

In [7]:
type(x)

int

In [8]:
type(y)

float

In [9]:
type(z)

str

In [10]:
a = 3
type(a)

int

## Case Sensitive

In [12]:
b = 45
B="Musthafa"

print(b)
print(B)

45
Musthafa

## Assign Multiple Values

In [13]:
x,y,z = "Apple","Orange","Banana"

In [15]:
y

'Orange'

# Output

print()

In [17]:
print(x)

Apple

In [19]:
print("I need "+x)

I need Apple

In [20]:
print("I need "+a)

TypeError: can only concatenate str (not "int") to str

In [21]:
print("i need",a)

i need 3

# Global Variable

In [23]:
x = "Good"

def myfun():
    print("Python is "+x)
    
myfun()

Python is Good

In [24]:
y = "awesome"

def fun1():
    y = "fantastic"
    print("python is "+y)

fun1()

print("python is "+y)

python is fantastic
python is awesome

# Data Types

Numbers

int,float & complex

In [28]:
x = 5
y = 33.5
z = 1+2j

In [29]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

Type Conversion

In [30]:
t = 1

type(t)

int

In [35]:
t = float(t)
print(t)
print(type(t))

1.0
<class 'float'>

Strings

string = ''or ""

In [36]:
x = "Hello"
y = 'World'

In [37]:
type(x)

str

In [38]:
type(y)

str

Multi line string

In [39]:
cucek ='''Cochin University college of engineerig Kuttanad,
         Pulincunnoo
        Alappuzha 673000'''

In [41]:
 print(cucek)

Cochin University college of engineerig Kuttanad
            Pulincunnoo
            Alappuzha 673000

len() - to find string length

In [42]:
print(len(x))

5

In [44]:
txt = "the best things in life are free"

print("free" in txt)

False

Boolean - True, false

In [45]:
print(10>9)

True

In [46]:
print(10<9)

False

input() - default data type string

In [47]:
x = input("Enter anything")

Enter anythingBerlin

In [48]:
x

'Berlin'

In [49]:
type(x)

str

In [50]:
y = input()

12345

In [51]:
type(y)

str

In [52]:
x = input("Enter 1st")
y = input("Enter 2nd")

Enter 1st5
Enter 2nd4

In [53]:
x+y

'54'

In [54]:
type(x+y)

str

In [56]:
x = int(input("enter first"))
y = int(input("enter second"))

enter first5
enter second4

In [57]:
x+y

9

In [58]:
print(x,y)

5 4

In [59]:
print(x,"is Greater than ",y)

5 is Greater than  4

In [60]:
x = input("Enter 1st")
y = input("Enter 2nd")

Enter 1st5
Enter 2nd4

In [62]:
print(x+"is Greater than "+y)

5is Greater than 4