# DAY 3

var_name = value

## Operators

Arithmetic operators +, -, *, /, %, **

In [ ]:
sum = 5+5
mul = 2*3
sub = 8-6
div = 10/2
com = 15%5
pow = 3**4

print(sum, sub, mul, div, com, pow)

In [ ]:
# assignment operator
x = 5

x= x+5
x

In [ ]:
# comparison opertaors
# >=, <=, ==, !=, >, <

Logical operator

or and not

In [ ]:
print(5>6 or 7<8)

In [ ]:
print(5>6 and 7<8)

In [ ]:
print(not(7<8))

## if else

if condiion:
    statements

if condition:
    statements
else:
    statement

In [ ]:
a = int(input("enter first number"))
b = int(input("enter second number"))

if a>b:
    print(a," is greater")
else:
    print(b," is greater")

In [ ]:
a = int(input("enter first number"))
b = int(input("enter second number"))

if a>b:
    print(a," is greater")
else:
    print(b," is greater")

In [ ]:
a = int(input("enter first number"))
b = int(input("enter second number"))

if a>b:
    print(a," is greater")
elif b>a:
    print(b,"is gretaer")
else:
    print("both are equal")

In [ ]:
a = int(input("enter first number"))
b = int(input("enter second number"))

if a>b:
    print(a," is greater")
elif b>a:
    print(b,"is gretaer")

## Calculator

In [3]:
print("Choose Your Options \n 1.add \n 2.sub \n 3.mul \n 4.div")

option = input("Enter your Option \n")

if option == 'add':
    a = int(input("enter first number"))
    b = int(input("enter second number"))
    sum = a+b
    print(sum)
elif option == 'sub':
    a = int(input("enter first number"))
    b = int(input("enter second number"))
    sub = a-b
    print(sub)
elif option == 'mul':
    a = int(input("enter first number"))
    b = int(input("enter second number"))
    mul = a*b
    print(mul)
elif option == 'div':
    a = int(input("enter first number"))
    b = int(input("enter second number"))
    div = a/b
    print(div)
else:
    print("invalid option")

Choose Your Options
 1.add
 2.sub
 3.mul
 4.div
Enter your Option
mul
enter first number5
enter second number6
30

## For Loop

for i in range():
    statements

In [5]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

## While Loop

i = 0

while i <=10:
    statement
    i = i+1 instead - i+=1

In [6]:
i=1
while i<=10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

## LIST

In [30]:
#list Declaration
lst = ["apple",5, 'hello']

In [8]:
type(lst)

list

In [31]:
lst.append("world")

In [10]:
lst

['apple', 5, 'hello', 'world']

In [15]:
#slicing
lst[0:4]

['apple', 5, 'hello', 'world']

In [16]:
# backward slicing
lst[-1]

'world'

In [17]:
lst[-2]

'hello'

In [32]:
lst[0] = 'orange'

In [33]:
lst

['orange', 5, 'hello', 'world']

lst. - click tab to get list functions like append, pop, remove etc

## Tuple

In [19]:
tuple = (5,6,7,8)

In [20]:
tuple

(5, 6, 7, 8)

In [22]:
type(tuple)

tuple

In [25]:
tuple[0]

5

In [26]:
# tuple is not mutable - value change cheyyan pattila
tuple[0] = 10

TypeError: 'tuple' object does not support item assignment

## Dict

In [27]:
dict = {}

In [34]:
dict ={"hello":1, "world":2}

In [35]:
dict

{'hello': 1, 'world': 2}

In [36]:
type(dict)

dict